body {
	background-color: #e6e6e6;
	font-family: Gill Sans, sans-serif;
}

a:visited {
	color: #79a6d2;
}

a:hover {
	text-decoration: underline;
}

a {
	color: #2e5cb8;
	text-decoration: none;
}

.header {
	padding: .25em;
	font-size: 110%;
	border-bottom: 1px dotted #000000;
}

.footer {
	text-align: center;
	padding: .25em;
	border-top: 1px solid #000000;
}

.nav {
  float: left;
  margin: 1em;
  padding: 0 1em 1em;
  width: 14em;
  font-size: 90%; 
}

.content {
  padding: 0 2em 1em 15em;
  min-height: 30em;
  min-width: 20em;
  max-width: 44em;
  font-size: 110%;
  margin: 1em auto; }
  .content h1, .content h2, .content h3 {
    margin-left: -1em; 
}

.content h1 {
    padding: .5em .25em;
    margin-top: 1em; 
}

.content h2 {
    margin-top: 1em;
    border-bottom: #268bd2 1px dotted; 
}

.codeblock {
	background-color: #f2f2f2;
	padding: 1em 2em;
	margin-left: 2em;
	margin-right: 5em;
	border-radius: 10px;
}
